<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h2>Company Page</h2>
    <hr>

    <p>Welcome to our Company HomePage</p>

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <div sec:authorize="hasRole('MANAGER')">
    <!-- adding link to/leaders, this is only for managers-->
    <a th:href="@{/leaders}">Leadership Retreat</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
    <!-- Adding a link to /systems only for admins roles-->
    <a th:href="@{/systems}">IT Systems Meeting</a>
    </div>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>